<%= content_for(:title, (t '.title')) %>

  <div class="media flex justify-center mb-2 mt-5">
    <input id="keyword" placeholder="<%= (t '.place_name') %>" type="url" class="input input-bordered input-primary max-w-xs">
    <button id="search" class="btn"><%= (t 'defaults.search') %></button>
  </div>

  <div class="flex justify-center">
    <div id='map'></div>
  </div>

<style>
    #map {
        height: 400px;
        width: 400px;
    }
</style>

<%= javascript_pack_tag 'spots_new.js' %>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['SECRET_KEY']%>&callback&callback=initMap&libraries=places" async defer></script>

  <div class="flex justify-center mt-2 btm-space">
    <%= form_with model: @spot, local: true do |f| %>
      <%= render 'shared/error_message', object: f.object %>
        <%= f.text_field :address, id: "address", value:"", placeholder: t('.tap_the_map'), class: "input input-bordered input-primary max-w-xs" %>
      <%= f.submit (t 'defaults.register'), id: "submit", class: 'btn btn-accent' %>
    <% end %>
  </div>
