<% content_for(:title, (t '.login')) %>
<div class="flex justify-center mt-10" >
  <div class="form-control w-full max-w-xs" >
    <%= form_with url: login_path, local: true do |f| %>
      <%= f.text_field :email, placeholder: "e-mail", class: "input input-bordered w-full max-w-xs" %>
      <%= f.text_field :password, placeholder: "password", class: "input input-bordered w-full max-w-xs" %>

      <br>
      <div class="flex justify-center mt-5 mb-10" >
        <%= f.submit (t '.login'), class: 'btn btn-primary btn-wide' %>
        <% end %>
      </div>
      <%= link_to (t '.to_register_page'), new_user_path, class: "link link-primary" %>
      <%= link_to (t '.password_forget'), new_password_reset_path, class: "link link-primary mb-3" %>
      <%= link_to (t '.start_as_guest'), guest_path, method: :post, class: "btn btn-sm btn-secondary text-center" %>
      <%= render 'shared/regulation_pages' %>
      <div class="btm-space"></div>
  </div>
</div>
