<h1><%= (t '.login') %></h1>

<div class="form-control w-full max-w-xs" >
  <%= form_with url: login_path, local: true do |f| %>
    <%= f.text_field :email, placeholder: "e-mail", class: "input input-bordered w-full max-w-xs" %>
    <%= f.text_field :password, placeholder: "password", class: "input input-bordered w-full max-w-xs" %>
  <br>
    <%= f.submit (t '.login'), class: 'btn btn-primary' %>
    <% end %>
  <br>
    <%= link_to (t '.to_register_page'), new_users_path, class: "link link-secondary" %>
    <%= link_to (t '.password_forget') %>
</div>
