<h1><%= t('.title') %></h1><br>
  <%= render 'shared/search_form', q: @other_list, url: others_restaurants_path %>
  <%= render 'random_select' %>
    <% if @restaurants.any? %>
      <%= render @restaurants %>
    <% else %>
      <p><%= t('.not_have_lists') %></p>
    <% end %>
    <%= javascript_pack_tag 'random_select' %>
  <%= render 'shared/footer' %>
