<h1>パスワードの再設定</h1><br>

<%= form_with model: @user, url: password_reset_path(@token), local: true do |f| %>
  <%= render 'shared/error_message', object: f.object %>

  <div class="field">
    <%= f.label :password %><br/>
    <%= f.password_field :password, class: "input input-bordered w-full max-w-xs" %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, class: "input input-bordered w-full max-w-xs" %>
  </div>
    <div class="field">
    <p>[ <%= f.label :email %> : <%= @user.email %> ]</p>
  </div>
  <div class="actions">
      <%= f.submit (t 'defaults.update'), class: 'btn btn-primary' %>
  </div>
<% end %>
