<div class="md:flex justify-center ml-5 media">
  <button class="btn btn-active btn-secondary btn-wide mt-2 mb-7" id="js-btn">
    <%= t('.random') %>
  </button>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-close-btn">
        <button id="closeBtn" class="btn btn-outline btn-secondary">
          <%= t('.close') %>
        </button>
      </div>
        <div class="garagara-result fadeUp" >
          <% if @random_select %>
              <p class="font-sm"><%= t('.how_is_this?') %></p>
              <p class="font-sm"><%= "〜  #{ @random_select.rst_name }  〜" %></p>
          <% else %>
            <%= t('message.not_registed', item: Restaurant.model_name.human) %>
          <% end %>
        </div>
      <div class="flex justify-center" >
        <%= video_tag "/assets/videos/garagara.mp4", autoplay: true, muted: true %>
      </div>
    </div>
  </div>
</div>
