<button class="btn btn-active btn-secondary" id="btn">
  <%= t('.random') %>
</button>

<div id="modal" class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-close-btn">
        <input type="button" id="closeBtn" class="btn btn-outline btn-secondary" value="close">
      </div>
        <div class="garagara-result fadeUp" >
          <% if @random_select %>
            <%= "今回はこちらはいかがでしょう！" %><br>
            <%= "〜  #{ @random_select.rst_name }  〜" %>
          <% else %>
            <%= "まだお店が登録されていません！" %>
          <% end %>
        </div>
      <%= video_tag "/assets/videos/garagara.mp4", autoplay: true, muted: true %>
    </div>
  </div>
</div>
