<div class="md:flex justify-center ml-5 media">
  <button class="btn btn-active btn-secondary btn-wide mt-2 mb-7" id="js-btn">
    <%= t('.random') %>
  </button>
</div>

<div id="modal" class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <div class="modal-close-btn">
        <input type="button" id="closeBtn" class="btn btn-outline btn-secondary" value="close">
      </div>
        <div class="garagara-result fadeUp" >
          <% if @random_select %>
            <%= t('.how_is_this?') %><br>
            <%= "〜  #{ @random_select.rst_name }  〜" %>
          <% else %>
            <%= t('.restaurants_are_not_registed') %>
          <% end %>
        </div>
      <%= video_tag "/assets/videos/garagara.mp4", autoplay: true, muted: true %>
    </div>
  </div>
</div>
