<div class="flex justify-center">
  <table class="table table-fixed border-dashed border-b border-primary-focus">
      <tr data-href="<%= restaurant_path(restaurant.id) %>">
        <td>
          <div class="flex items-center">
            <div class="avatar">
              <div class="w-12 rounded-xl">
                <% if restaurant.rst_type %>
                  <%= image_tag "#{restaurant.rst_type}.png", alt: t('default.picture') %>
                <% else %>
                  <%= image_tag "default.png", alt: t('default.picture') %>
                <% end %>
              </div>
            </div>
          </div>
        </td>

        <td>
          <div class="text-xs opacity-90 mb-1 mr-0 max_11"><%= restaurant.place %></div>
          <div class="font-bold text-lg mb-1 max_11"><%= restaurant.rst_name %></div>
          <span class="badge badge-ghost badge-sm mb-2 max_11">
            <%= restaurant.feature %>
          </span>
            <p class="text-xs max_11">
            <i class="fa-solid fa-pencil">.</i>
            <%= restaurant.memo %></p>
        </td>


        <td>
          <div class="btn btn-outline">
            <% if logged_in? && current_user.own?(restaurant) %>
              <%= link_to (t 'defaults.show'), restaurant_path(restaurant.id) %>
            <% else %>
              <%= link_to (t 'defaults.show'), others_restaurant_path(restaurant.id) %>
            <% end %>
          </div>
        </td>
      </tr>
  </table>
</div>
