<div class="flex justify-center">
  <table class="table table-fixed border-dashed border-b border-primary-focus">
    <%= form_with model: @restaurant, url: { controller: 'restaurants', action: 'create'} do |f| %>
      <%= render 'shared/error_message', object: f.object %>
        <tr>
          <td>
            <div class="flex items-center">
              <div class="avatar">
                <div class="w-12 rounded-xl">
                  <%= image_tag "default.png", alt: t('default.picture') %>
                </div>
              </div>
            </div>
          </td>

          <td>
            <%= f.text_field :place, placeholder: t('restaurants.new.place'), class: "input input-bordered input-xs max-w-xs opacity-90 md-5"%>
            <div class="">
              <%= f.text_field :rst_name, placeholder: t('restaurants.new.rst_name'), class: "input input-bordered input-sm max-w-xs"%>
            </div>
            <%= f.text_field :memo, placeholder: t('restaurants.new.memo'), class: "input input-bordered input-sm max-w-xs"%>
          </td>
          <td><%= f.submit (t 'defaults.register'), class: 'btn btn-primary' %></td>
        </tr>
      </div>
    <% end %>
  </table>
</div>
