<div class="border-dashed border border-primary-focus"></div>

<table class="table table-fixed w-full">
  <%= form_with model: @restaurant, url: { controller: 'restaurants', action: 'create'} do |f| %>
    <%= render 'shared/error_message', object: f.object %>
      <tr>
        <td>
          <div class="w-14 h-14 items-center space-x-3">
            <div class="avatar">
              <div class="mask mask-squircle w-12 h-12">
                <%= image_tag "default.png", alt: t('default.picture') %>
              </div>
            </div>
          </div>
        </td>

        <td>
            <%= f.text_field :place, placeholder: t('restaurants.new.place'), class: "input input-bordered input-xs w-35 max-w-xs opacity-90 md-5"%>
            <div class="">
              <%= f.text_field :rst_name, placeholder: t('restaurants.new.rst_name'), class: "input input-bordered input-sm max-w-xs"%>
            </div>
            <%= f.text_field :memo, placeholder: t('restaurants.new.memo'), class: "input input-bordered input-sm max-w-xs"%>
        </td>

        <td></td>
        <td><%= f.submit (t 'defaults.register'), class: 'btn btn-primary' %></td>
      </tr>
    </div>
  </table>
<% end %>
