<% content_for(:title, (t '.title', item: @restaurant.rst_name)) %>
<div class="flex justify-center">
  <%= form_with model: @restaurant, local: true do |f| %>
    <%= render 'shared/error_message', object: f.object %>

    <div class="icon_check mt-10 mb-5">
      <% Restaurant.rst_types.each do |key, value| %>
        <div class="btn btn-circle btn-ghost mx-1 mb-5">
          <div class="w-24 rounded ring-2 hover:ring-4 ring-neutral">
            <%= f.radio_button :rst_type, key, class: "radio radio-primary" %>
              <%= image_tag "#{key}.png", :size =>'50x50', alt: t('default.picture') %>
          </div>
        </div>
      <% end %>
      </div>
  </div>

    <div class="flex w-full mb-1 justify-center">
      <%= f.label :rst_name, class: "m-2" %>
      <%= f.text_field :rst_name, class: "input input-bordered max-w-xs w-full" %><br>
    </div>

    <div class="flex w-full mb-1 justify-center">
      <%= f.label :place, class: "m-2" %>
      <%= f.text_field :place, class: "input input-bordered max-w-xs w-full" %><br>
    </div>

    <div class="flex w-full mb-1.5 justify-center">
      <%= f.label :feature, class: "m-2" %>
      <%= f.text_field :feature, class: "input input-bordered max-w-xs w-full" %><br>
    </div>

    <div class="flex w-full mb-1.5 justify-center">
      <%= f.label :memo, class: "m-2 text-sm memo" %>
      <%= f.text_area :memo, class: "textarea textarea-bordered input-sm max-w-xs w-full" %><br>
    </div>

    <div class="flex justify-center mt-5" >
      <%= f.submit (t 'defaults.update'), class: 'btn btn-secondary btn-wide' %>
    </div>
  <% end %>
