<h1><%= t('.title') %></h1><br>
  <% if @restaurants == [] || nil %>
    <p><%= t('.not_have_lists') %></p>
    <%= render 'small_new' %>
  <% else %>
    <%= render 'small_new' %>
    <%= render @restaurants %>
  <% end %>

  <%= render 'shared/footer' %>
