  <%= render 'shared/search_form', q: @my_list, url: restaurants_path %>
  <%= render 'random_select' %>
    <% if @restaurants.any? %>
      <%= render 'small_new' %>
      <%= render @restaurants %>
    <% else %>
      <p><%= t('.not_have_lists') %></p>
      <%= render 'small_new' %>
    <% end %>
    <%= javascript_pack_tag 'random_select' %>
