
<%= form_with model: @restaurant, local: true do |f| %>
  <%= render 'shared/error_message', object: f.object %>

    <div class="icon_check">
      <% Restaurant.rst_types.each do |key, value| %>
        <div class="avatar btn btn-circle btn-ghost">
          <div class="w-24 rounded-full ring">
            <%= f.radio_button :rst_type, key %>
              <%= image_tag "#{key}.png", alt: t('default.picture') %>
          </div>
        </div>
      <% end %>
    </div>
  <br>
    <%= f.label :rst_name %>
    <%= f.text_field :rst_name, placeholder: t('.rst_name'),  class: "input input-bordered w-full max-w-xs" %><br>

    <%= f.label :place %>
    <%= f.text_field :place, placeholder: t('.place'),  class: "input input-bordered w-full max-w-xs" %><br>

    <%= f.label :feature %>
    <%= f.text_field :feature, placeholder: t('.feature'),  class: "input input-bordered w-full max-w-xs" %><br>

    <%= f.label :memo %>
    <%= f.text_area :memo, placeholder: t('.memo'),  class: "textarea textarea-bordered input-sm w-full max-w-xs" %><br>

    <%= f.submit (t 'defaults.register'), class: 'btn btn-primary' %>
<% end %>
