<% content_for(:title, (t '.title')) %>
<div class="flex justify-center my-10" >
  <div  class="btn btn-wide btn-secondary" >
    <%= link_to 'マップから探す', new_spot_path %>
    &emsp;
    <i class="fa-solid fa-map-location-dot"></i>
  </div>
</div>

<div class="border-dashed border-b-2 border-base-400"></div>

<div class="flex justify-center" >
  <%= form_with model: @restaurant, local: true do |f| %>
    <%= render 'shared/error_message', object: f.object %>

      <div class="icon_check mt-10 mb-5">
        <% Restaurant.rst_types.each do |key, value| %>
          <div class="avatar btn btn-circle btn-ghost mx-1">
            <div class="w-24 rounded-xl ring-2 hover:ring-4 ring-neutral">
              <%= f.radio_button :rst_type, key %>
              <%= image_tag "#{key}.png", alt: t('default.picture') %>
            </div>
          </div>
        <% end %>
      </div>
</div>

    <div class="flex w-full mb-1.5 justify-center">
      <%= f.label :rst_name, class: "m-2" %>
      <%= f.text_field :rst_name, placeholder: t('.rst_name'), class: "input input-bordered max-w-xs w-full" %><br>
    </div>

    <div class="flex w-full mb-1.5 justify-center">
      <%= f.label :place, class: "m-2" %>
      <%= f.text_field :place, placeholder: t('.place'), class: "input input-bordered max-w-xs w-full" %><br>
    </div>

    <div class="flex w-full mb-1.5 justify-center">
      <%= f.label :feature, class: "m-2" %>
      <%= f.text_field :feature, placeholder: t('.feature'),  class: "input input-bordered max-w-xs w-full" %><br>
    </div>

    <div class="flex w-full mb-1.5 justify-center">
      <%= f.label :memo, class: "m-2 text-sm memo" %>
      <%= f.text_area :memo, placeholder: t('.memo'),  class: "textarea textarea-bordered input-sm w-full max-w-xs" %><br>
    </div>

    <div class="flex justify-center mt-5" >
      <%= f.submit (t 'defaults.register'), class: 'btn btn-wide btn-primary' %>
    </div>
  <% end %>
